
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
 @await Component.InvokeAsync("_DashboardLayoutHeadComponentPartial")
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @await Component.InvokeAsync("_DashboardLayoutSidebarComponentPartial")

        <!-- End Sidebar -->

        <div class="main-panel">
            @await Component.InvokeAsync("_DashboardLayoutNavbarComponentPartial")

         
           
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="page-inner">
                
                 @RenderBody()

                    

            </div>
        </div>

        
    </div>

    <!-- Custom template | don't include it in your project! -->
    
    <!-- End Custom template -->
    <!--   Core JS Files   -->
    @await Component.InvokeAsync("_DashboardLayoutScriptComponentPartial")
</body>
</html>
