<div class="sidebar" data-background-color="dark">
    
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <h1> En Merak Edilenler</h1>
                    <br /><br />
                    <div class="card">
                        <div class="card-body p-2 text-center">
                         
                            <div class="h1 m-0">@ViewBag.TotalMovies Adet</div>
                            <div class="text-muted mb-3">Toplam Film Sayısı</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-2 text-center">
                           
                            <div class="h1 m-0">@ViewBag.TotalBudget DOLAR</div>
                            <div class="text-muted mb-3">Kayıtlı Tüm Filmlerin Toplam Bütçesi</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-2 text-center">
                           
                            <div class="h1 m-0">@ViewBag.mostpopularmovieTitle</div>
                            <div class="text-muted mb-3">En Popüler Film</div>
                        </div>
                    </div>
                </li>
             
            </ul>
        </div>
    </div>
</div>